<%- include("partials/header.ejs") %>

<h1>About</h1>
<p>This is a public blog site that anyone can update! I hope you enjoy reading through it. Please refrain from using foul language.</p>
<p><%= content %></p>

<%- include("partials/footer.ejs") %>
