<!-- prettier-ignore-->
<%- include("partials/header.ejs") %>

<h1>Compose</h1>
<form action="/" method="POST">
  <input type="text" name="text" />
  <button type="submit">Submit</button>
</form>

<!-- prettier-ignore-->
<%- include("partials/footer.ejs") %>
