<%- include("partials/header.ejs") %>

<h1>Contact</h1>

<p>Be sure to check out my  <a href="https://github.com/theAnshulGupta">github!</a></p>
<p><%= content %></p>


<%- include("partials/footer.ejs") %>
