<%- include("partials/header.ejs") %>

<h1>Compose</h1>

<form method="POST" action="/create">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      placeholder="Title goes here..."
    />
  </div>
  <div class="form-group">
    <label for="text">Body</label>
    <textarea
      class="form-control"
      name="text"
      rows="5"
      placeholder="Text goes here..."
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("partials/footer.ejs") %>
