<!-- prettier-ignore-->
<%- include("partials/header.ejs") %>

<!-- render will automatically call all html too -->
<h1>Home</h1>
<p><%= content %></p>

<!-- prettier-ignore-->
<%- include("partials/footer.ejs") %>
